*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

a:link,
a:visited,
a:active {
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

textarea:focus,
input:focus,
.article--btn:focus {
  outline: none;
}

body {
  box-sizing: border-box;
  background-color: #e0e0e0;
  line-height: 1.7;
  font-family: 'Lato', sans-serif;
  height: 1500px;
}

.header {
  height: 3rem;
  background-color: #283d4a;
  display: flex;
  flex: 1;
  position: relative;
  width: 100%
  
}

.nav__list {
  position: absolute;
  display:flex;
  left: 45%;
  
}

.nav__list--search {
  width: 15rem;
  height: 2rem;
  border-radius: 0.2rem;
  position: absolute;
  top: 14%;
  left: 15%;
}

.nav__list--btn {
  font-size: 25px;
  margin-left: 2rem;
  margin-top: 0.3rem;
  background: transparent;
  border: none;
  color: white;
  text-align: center;
  
  
}
.nav__list--btn:hover {
  cursor: pointer;
}

.nav__list--btn:focus {
  outline: none;
}

.active {
  border-bottom: solid #e0e0e0 3px;
}

.icon {
  font-size: 10px;
  display: flex;
  font-weight: 400;
  font-family: 'Lato';
  color:#c7d1d8;
  text-align: center;
}

.logo {
  height: 2rem;
  position: absolute;
  top: 14%;
  left: 11%;
}

input.empty {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: 200;
  text-decoration: inherit;
  position: absolute;
  padding: 5px;
  font-size: 15px;
  line-height:24px;
  border:none;
  border-radius:4px;
  background-color:#e1e9ed;
  width: 15rem;
  height: 2rem;
  border-radius: 0.2rem;
  position: absolute;
  top: 14%;
  left: 15%;
  

}

.wrapper {
  position: relative;
}

.profile-info {
  position: absolute;
  width: 15rem;
  height: 18rem;
  margin-top: 5rem;
  left: 11.5%;
  background-color: white;
  border: solid .5px rgba(138, 137, 137, 0.795);
  box-shadow: black 1px;
}

.img-banner {
  width: 100%;
  height: 20%;
  position:absolute;
}

.profile-pic {
  position: absolute;
  border-radius: 50%;
  width: 70px;
  left: 50%;
  top: 20%;
  border: solid white 2px;
  transform:translate(-50%, -50%);
}

.heading-name {
  position:absolute;
  color: black;
  font-family: 'Lato';
  font-weight: 600;
  font-size: 1.2rem;
  transform:translate(-50%, -50%);
  left: 50%;
  top: 37%;

}
h1 {
  display: inline;
}

.heading-position {
  position:absolute;
  color: grey;
  font-family: 'Lato';
  display: inline;
  font-weight: 400;
  font-size: 0.85rem;
  padding: 0;
  margin-left: 2.5rem;
  white-space: nowrap;
  top: 43%;
  display: inline;
}


hr {
  margin-top: 9.6rem;
  margin-bottom: 50px;
  border-top: 1px solid rgb(173, 173, 173);
 }

.text {
  position: absolute;
  margin-top: -2.3rem;
  margin-left: .8rem;
}

 p {
   font-family: 'Lato';
   font-size: .8rem;
   line-height: 20px;
   color: #a3a2a2;
 }
 
 .views {
   padding-bottom: .4rem;
 }

 .blue-views {
   color: #0173b1;
   font-weight: 600;
   margin-left: 2rem;
 }

 .blue-connections {
  color: #0173b1;
  font-weight: 600;
  margin-left: 6.2rem;
 }

 .network {
   color:black;
   font-weight: 200;
 }

 .articles{
   padding-top: .5rem;
 }

 .blue-articles {
  color: #0173b1;
  font-weight: 600;
  margin-left: 5.5rem;
 }


 .post {
   width: 40rem;
   left: 30%;
   top: 5rem;
   height: 8rem;
   background-color:white;
   position: absolute;
   background-color: white;
  border: solid .5px rgba(138, 137, 137, 0.795);
  box-shadow: black 1px;
 }

 .share-text {
  font-family: 'Lato';
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 20px;
  color: #a3a2a2;
  top: 2rem;
  left: 1.2rem;
  position: absolute;
  border: none;
  overflow:hidden;
  resize: none;

 }

 
 .post hr {
  padding: 0;
  margin-top:5.2rem;
  margin-left: 1rem;
  width: 38rem;
  opacity: 0.5;
  border-top: 1px solid rgb(173, 173, 173);
 }

 .buttons {
   position: absolute;
   top: 5.4rem;
   left: 1rem;
 }

 .article--btn {
  color: rgba(24, 24, 24, 0.815);
  border: solid 1px rgba(51, 51, 51, 0.808);
  border-radius: 20px;
  padding: 5px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.article--btn:hover {
  color:#0173b1;
}

.post--btn {
  background-color: #0173b1;
  color: white;
  font-weight: 200;
  border-radius: 7px;
  padding: 5px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin-left: 5rem;
}

.in-between {
  margin-top: 13.45rem;
  margin-bottom: 50px;
  border-top: 1px solid rgb(173, 173, 173);
  width: 43.5%;
  position: absolute;
  margin-left: 27.5rem;
}

.feed {
  width: 40rem;
  left: 30%;
  top: 14rem;
  height: 35rem;
  background-color:white;
  position: absolute;
  background-color: white;
 border: solid .5px rgba(138, 137, 137, 0.795);
 box-shadow: black 1px;
 position: absolute;
}

.feed-img {
  position: absolute;
  left: 1.2rem;
  top: 1.2rem;
  border-radius: 50%;
  height: 45px;
}

.nina {
  font-size: .7rem;
  position: absolute;
  font-weight: 600;
  left: 4.5rem;
  top: 1rem;
}

.feed-text {
  height: 12px;
  top: .2rem;
  margin-left: .3rem;
  position: absolute;
}

.following {
  color: grey;
  position: absolute;
  left: 5.4rem;
  white-space: nowrap;
}

.sub-nina {
  position: absolute;
  color: #767676;
  font-weight: 300;
  top: 2.1rem;
  font-size: .9rem;
  line-height: 15px;
  left: 4.5rem;
}

.heading {
  position: absolute;
  color: black;
  font-weight: 400;
  left: 2rem;
  top: 5rem;
}

.nina-image {
  width: 550px;
  position: absolute;
  top: 7rem;
  left: 1.5rem;
}

.likes-comments {
  position: absolute;
  top: 30rem;
  left: 1.5rem;
}

.nina-hr {
  margin-top: 32rem;
  margin-bottom: 50px;
  border-top: 1px solid rgb(173, 173, 173);
  width: 95%;
  left: 1.2rem;
  position: absolute;
}

.social-buttons {
  position: absolute;
  top: 32rem;
  padding-left: 2rem;
  background-color: transparent;
}

.nina--btn {
  width: 80px;
  border: none;
  height: 40px;
  background-image: none;
  background-color: transparent;
  color: #717171;

}